:root {
	--max-menu-width: 200px;
	--max-server-info-width: 200px;
	--player-lookup-width: 190px;
	--yellow-colour: #b58a3f;
/**
	Extension: these are resolved as relative paths at runtime.
	Userscript: these are replaced at build time with base64 data URLs.
*/
	--show-icon: url("__SHOW_ICON__");
	--hide-icon: url("__HIDE_ICON__");
	--screenshot-bg-image: url("__SCREENSHOT_ICON__");
	accent-color: var(--yellow-colour); /* applies to checkbox, radio and range inputs */
}

.crisp-edges {
	image-rendering: optimizeQuality;           /* Legal fallback	*/
	image-rendering: -moz-crisp-edges;          /* Firefox        	*/
	image-rendering: -o-crisp-edges;            /* Opera			*/
	image-rendering: -webkit-optimize-contrast; /* Chrome + Safari	*/
	image-rendering: optimize-contrast;         /* CSS3 Proposed	*/
	image-rendering: crisp-edges;               /* CSS4 Proposed  	*/
}